/* Web Font ----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@700&family=Source+Code+Pro:wght@300&display=swap');

/* Base Styles -------------------- */

body {
  background-color: black;
}

h1 {
  color: white;
	font-family: 'Eczar', serif;
	text-align: center;
	font-size: 4.5rem;
	letter-spacing: 2px;
	padding: 10px;
	margin: 10px;
}

p {
    color: white;
  	font-family: 'Source Code Pro', monospace;
    background-color: black;
}

li {
  color:white;
  	font-family: 'Source Code Pro', monospace;
}
/* Main Styles --------------------- */

.main-header {
   background: black url(ith014.jpg) no-repeat center;
   background-size: auto;
   overflow: scroll;
   padding-top: 100px;

}

#intro-text {
	background-color: black;

}
.nav li {
  
	display:block;
  margin-top: 5%;
	width:130px;
	float:left;
	margin-left:6px;
	border:2.7px solid rgb(28%,18%,36%); 
  padding: 7px;
  text-align: center;
  
}

/* Pseudo-Class */ 

a:link {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  color:white;
}
a:visited {
  color: cornflowerblue;
}
