/* Web Font ----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@700&family=Source+Code+Pro:wght@300&display=swap');

/* Base Styles -------------------- */

body {
  background-color: black;
}

h1 {
  color: black;
	font-family: 'Eczar', serif;
	text-align: center;
	font-size: 4.5rem;
	letter-spacing: 2px;
	padding: 10px;
	margin: 10px;
}

h2 {
  color: #01579B;
  letter-spacing: .5px;
  font-family: 'Eczar', serif;
  text-align: center;
}

h3 {
  font-family: 'Eczar', serif;
  color: white;
  margin-bottom: 4px;
  margin-top: 7px;
}
p {
    color: white;
    font-family: 'Source Code Pro', monospace;
    background-color: black;
}

li {
  font-family: 'Source Code Pro', monospace;
}

a {
  color: #01579B;
}

footer {
  padding: 10px;
}
/* Main Styles --------------------- */

.main-header {
   background: black url(images/ith014.jpg) no-repeat center;
   background-size: auto;
   overflow: scroll;
   padding-top: 100px;
   height: 1200px;
}

#intro-text {
	background-color: black;
	padding: 10px 10px;
}

.nav li {
	      display: block;
        margin-top: 5%;
	      width: 170px;
	      float: left;
	      margin-left:6px;
	      border: 2.7px solid #01579B; 
        padding: 7px;
        text-align: center;
        font-weight: bold;
  
}

.copyright {
  font-weight: bold;
  color: white;
}

.pages-header {
  background: url(images/ith014.jpg) no-repeat center;
}

.column {
  float: left;
  width: 50%;
}

.intro-paragraph {
  margin-bottom: 5px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Pseudo-Class */ 

a:link {
  text-decoration: none;
  color: #01579B;
}

a:hover {
  color: white;
}
